.projects {
  display: flex;
  flex-flow: column wrap;
  scroll-margin-top: 60px;
}

.projects h1 {
  text-align: end;
  margin-bottom: 32px;
}

.projects .project {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 33px;
}

.projects img {
  clip-path: circle(50% at 50% 50%);
  width: 170px;
  height: 170px;
}

.projects .project .info-of-project {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  text-align: end;
}

.projects .left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.projects .left .info-of-project {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  text-align: start;
  order: 1;
}

.projects .right img {
  background-color: #f2f2f2;
  margin-left: 24px;
}

.projects .left img {
  background-color: #f2f2f2;
  margin-right: 24px;
  order: 0;
}

.projects .project-2 img {
  background-color: #023031;
}

.projects .project .info-of-project p {
  width: 592px;
}

.projects .project .info-of-project .language {
  margin-top: 13px;
}

.projects .project .info-of-project .language span {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 12px;
}

.projects .react {
  background-color: var(--subtitle-color-light);
  color: var(--white-color);
  margin-right: 12px;
}

.projects .javascript {
  background-color: var(--javaScript-color);
  color: var(--background-color);
}

.projects .nodejs {
  background-color: var(--nodeJS-color);
  color: var(--background-color);
  margin-left: 12px;
}

.projects .css {
  background-color: var(--CSS-color);
  color: var(--white-color);
  margin-left: 12px;
}
