.navigation {
  display: flex;
}

.navigation .nav-button {
  display: flex;
  margin-right: 26pt;
}

.navigation .contact-link {
  margin-right: 0;
}

.navigation .nav-button a{
  display: flex;
  align-items: center;
}


.navigation .nav-button a img{
  margin-right: 4pt;
}
