.navigation {
  display: flex;
}

.navigation .nav-button {
  display: flex;
  margin-right: 26pt;
}

.navigation .nav-button a{
  color: var(--white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}


.navigation .nav-button a img{
  margin-right: 4pt;
}
