@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --title-color-bluish-green: #18FBCC;
  --subtitle-color-light: #68BCF9;
  --backgroud-color: #011936;
  --white-color: #EFF6FA;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroud-color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
