@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --title-color-bluish-green: #18fbcc;
  --subtitle-color-light: #68bcf9;
  --backgroud-color: #011936;
  --white-color: #eff6fa;
  --javaScript-color: #f7e018;
  --nodeJS-color: #82cd28;
  --CSS-color: #005fab;
  --HTML-color: #d84923;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroud-color);
}

a {
  color: var(--white-color);
  text-decoration: none;
  margin-right: 26px;
  display: flex;
  align-items: center;
}

a span {
  margin-left: 4px;
}

h1 {
  color: var(--title-color-bluish-green);
  font-size: 62px;
}

h2 {
  color: var(--subtitle-color-light);
  font-size: 42px;
}

p {
  color: var(--white-color);
  font-size: 18px;
  line-height: 150.69%;
}

@media screen and (max-width: 767px) {
  a {
    margin-right: 13px;
  }

  h1 {
    font-size: 31px;
  }

  h2 {
    font-size: 21px;
  }

  p {
    font-size: 13px;
  }
}

@media screen and (min-width: 767px) and (max-width: 820px) {
  a {
    margin-right: 13px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }
}
