@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --title-color-bluish-green: #18fbcc;
  --subtitle-color-light: #68bcf9;
  --backgroud-color: #011936;
  --white-color: #eff6fa;
  --javaScript-color: #f7e018;
  --nodeJS-color: #82cd28;
  --CSS-color: #005fab;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroud-color);
}

a {
  color: var(--white-color);
  text-decoration: none;
}

h1 {
  color: var(--title-color-bluish-green);
  font-size: 62px;
}

h2 {
  color: var(--subtitle-color-light);
  font-size: 42px;
}

p {
  color: var(--white-color);
  font-size: 18px;
  line-height: 150.69%;
}
